body {
    background-color: #033549;
    min-height: 101vh;
}

.search-container {
    text-align: center;
    margin: 50px auto;
    display: none;
}

.search-container label,
.search-container input{
    display: inline-block;
    font-size: 1.8rem;
}

.search-container label {
    font-family: 'Raleway';
    color: white;
    margin-bottom: 15px;
}

.search-container input {
  font-size: 1.4rem;
  text-align: center;
  font-family: "Open Sans";
  border: 3px solid orange;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.search-container input:focus {
  outline: none;
}

#random {
  margin-top: 20px;
    text-decoration: none;
    color: orange;
    font-family: "Open Sans";
    font-size: 1.4rem;
    display: inline-block;
    text-align: center;
}

#articles {
    margin: auto;
    padding: 10px;
}

#articles .article {
    background-color: #eee;
    margin: 15px 0;
    padding: 15px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: all .25s;
}

#articles .article:hover {
    border-left: 4px solid orange;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 1);
    background-color: #fff;
}

#articles .article a {
    text-decoration: none;
    color: #333;
}

#articles .article a h3 {
    margin-top: 0;
    color: #444;
    font-family: "Open Sans";
}

#articles .article a p {
    font-family: "Open Sans";
    margin: 10px 0 0 0;
}
