body{
    margin: 0;
    padding: 0;
    background-image: url("http://www.desktopwallpaperhd.net/wallpapers/21/a/winter-landscape-brick-border-background-depleted-mauricie-wikipedia-commons-southern-214106.jpg")
}
.main{
    padding: 3vh 5vw 3vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center
}
.image{
    /* border: 1px solid black; */
    min-width: 17vw;
    max-width: 17vw;
    min-height: 30vh;
    max-height: 30vh;
    margin-bottom: 10vh;
}
.image img{
    width: 100%;
}
.li{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
}